script.
  !function(){
    return page_vars = !{JSON.stringify(page_vars)}
  }();
script(src="/vendor/jquery.1.10.2.min.js")
script(src="/vendor/airwaves.js")
script(src="/site/script.js")
script(src="/site/internal-login.js")





