script(src="https://login.persona.org/include.js")
//- script(src="/vendor/jquery.1.10.2.min.js")
//- script(src="/javascript/internal_login.js")
//- script(src="/javascript/presentational.js")
script(src="/_resources/site.js")
