nav.topnav
	._logo
		.middle-child
			img(src="/images/hypermarks-logo_64.png")
			span._text Hypermarks
	._controls
		._searchbox
			input.search
			i.icon-search
		._links
			._link.-account
				span.js-logout 
					i.icon-caret-down 
					| Jehan