nav.topnav#header
  a._logo(href='/')
    img(src="/images/hypermarks-logo_64.png")
    span._text Hypermarks
  ._controls
    ._searchbox
      img(src="/images/hypermarks-logo_64.png")
      input.search#searchbox(placeholder="Search...")
      i.icon-search
    ._links
      ._link.-account
        span
          if user
            .dropdown.js-toggle.-right 
              span Settings
              i.icon-caret-down
              a(href="javascript:!function(){var jsCode=document.createElement('script');jsCode.setAttribute('src','http://localhost:1337/_resources/bookmarklet.js');document.body.appendChild(jsCode);}();")="Bookmarklet"
              ul
                li._header #{user.email}
                li#logout Sign Out

          else
            span#login Sign In