nav.header#header
  a.header__logo(href='/')
    img(src="/images/hypermarks-logo_64.png")
    span._text Hypermarks
  .header__controls
    form._searchbox(action="/_search", method="get")
      label.inline
        input(name="q")
        button.btn-quiet.js-add-link
          i.icon-search
          |&nbsp;Search
    .header__links
      ._link.-account
        span
          if user
            .dropdown.js-dropdown.-right 
              span Settings
              i.icon-caret-down
              ul
                li._header #{user.email}
                li 
                  a(href="#{bm_loader}") Bookmarklet
                li#logout Sign Out

          else
            span#login Sign In

  .header__bookmarklet
    a.js-bookmarklet Bookmarklet