nav.header#header
  a._logo(href='/')
    img(src="/images/hypermarks-logo_64.png")
    span._text Hypermarks
  ._controls
    form(action="/_search", method="get")
      ._searchbox
        input.search(placeholder="search", name="q", value=searchVal)
        i.icon-search
    form(action="javascript:null;", method="get", id="hypermarkpost")
      ._searchbox
        input.search(placeholder="...Hypermark URL", name="url", value=searchVal)
        i.icon-search
    ._links
      ._link.-account
        span
          if user
            .dropdown.js-dropdown.-right 
              span Settings
              i.icon-caret-down
              ul
                li._header #{user.email}
                li 
                  a(href="#{bm_loader}") Bookmarklet
                li#logout Sign Out

          else
            span#login Sign In