.modal-overlay#modal-overlay
  .modal-window.js-modal-window#new-list-modal
    i._close.js-close.icon-remove
    span New Favorite List
    ._control
      input.js-name(type="text", name="block")
      button.btn-quiet.js-add-current Current
    button.btn.js-submit Create
