.modal-overlay#modal-overlay

.modal-overlay#new-list-modal
  .modal-window
    //- i._close.js-close.icon-remove
    .modal-window__topbar New List
    label.inline
      input.js-name(type="text", name="block")
    .modal-window__bottombar
      button.btn.js-submit Create

.modal-overlay#add-link-modal
  .modal-window
    .modal-window__topbar Add Link
    input(name="url")
    .modal-window__bottombar
      button.btn.js-add-link Submit

.modal-overlay#bookmarklet-modal
  .modal-window
    .modal-window__topbar Bookmarklet
    div Drag the bookmarklet below to your bookmarks bar to submit pages to Hypermarks instantly.
    .modal-window__bottombar
      a.bookmarklet__link(href="javascript:!function(){var jsCode=document.createElement('script');jsCode.setAttribute('src','http://localhost:1337/bookmarklet/script.js');document.body.appendChild(jsCode);}();") Hypermarks

.modal-overlay#auth-modal
  .modal-window
    input(name="username")
    input(name="password")
    .modal-window__bottombar

.modal-overlay#delete-list-modal
  .modal-window
    //- i._close.js-close.icon-remove
    .modal-window__topbar Delete #{title}
    .modal-window__bottombar
      button.btn.js-submit Delete
