nav.sidebar#sidebar
  //- section._menu
  //-   ul
  //-     li._item
  //-       i.icon-home 
  //-       |My Timeline

  section._menu.js-fave-lists
    ._topbar
      ._title Lists
      |&nbsp;
      //- ._control.js-new-list + New List
      button.btn-quiet.js-new-list
        |<b>+</b>&nbsp;New List
    ul
      li._item.js-list 
          a(href="/", data-block="") Uncategorized
      for favorite_block in favorite_blocks
        li._item.js-list 
          a(href="/_my/#{favorite_block._id}", data-block="#{favorite_block._id}") #{favorite_block._id}