nav.sidebar
  //- section._menu
  //-   ul
  //-     li._item
  //-       i.icon-home 
  //-       |My Timeline

  section._menu.js-fave-lists
    ._topbar
      ._title Lists
      |&nbsp;
      //- ._control.js-new-list + New List
      button.btn-quiet
        |<b>+</b>&nbsp;New List
    ul
      for favorite_block in favorite_blocks
        li._item.js-list 
          a(href="/#{favorite_block._id}") #{favorite_block._id}