nav.sidebar
  section._menu
    ul
      li._item
        i.icon-home 
        |My Timeline

  section._menu
    ._sectitle Lists
    ul
      for favorite_block in favorite_blocks
        li._item #{favorite_block._id}