nav.sidebar
  section._menu
    ul
      li._item
        i.icon-home 
        |Home

  section._menu
    ._sectitle Lists
    ul
      li._item Fainting Goats
      li._item Strange Religions
      li._item Boring Songs