nav.sidebar#sidebar
  //- section._menu
  //-   ul
  //-     li._item
  //-       i.icon-home 
  //-       |My Timeline

  section.menu.js-fave-lists
    .menu__topbar
      ._title Lists
      |&nbsp;
      //- ._control.js-new-list + New List
      button.btn-quiet.js-new-list
        |<b>+</b>&nbsp;New List
    ul.js-sortable
      for favorite_block in favorite_blocks
        li.menu__item.js-favorite-block
          a._name(href="/_my/#{favorite_block._id}", data-block="#{favorite_block._id}") #{favorite_block._id}
          span._count.js-count #{favorite_block.count}