//COLORS
brand = #7C0090
accent = #006BCF
accent2 = #2E8000
offwhite = #f8f7f8
medgrey = #bbb
lightgrey = #e8e7e8
lightblue = #DEEFFA
dull-brand = #75557A


//TYPOGRAPHIC
small-text = unit(.9 * font-size, px)
reg-text =  unit(font-size, px)
large-text = unit(1.2 * font-size, px)
larger-text = unit(2 * font-size, px)

//MEASURES
sm-radius = 3px
med-radius = 5px

//MISC
soft-shadow = 1px 1px 12px rgba(black, .1)
micro-shadow = 0px 1px 1px rgba(black, .2)

link()
  color accent
  text-decoration: underline
  &:visited
    color brand


// label()
//   line-height 200%
//   border-bottom 1px solid medgrey
//   // font-size small-text
//   font-weight 400
//   upcase()

card()
  box-shadow micro-shadow
  background white

modal-style()
  box-shadow soft-shadow, micro-shadow
  background white

modal-close()
  cursor pointer
  absolute top -.5em right -.5em
  size(1.5em)
  line-height 1.5em !important
  border-radius 50%
  background white
  box-shadow micro-shadow

menu-text()
  line-height 120%
  font-size large-text
  font-weight 300

input()
  menu-text()
  padding .25em .5em
  background white
  border 1px solid medgrey
  margin 0
  border-radius sm-radius
  &:active, &:focus
    box-shadow 0 0 3px brand
    border 1px solid brand

button-loud()
  menu-text()
  padding 0
  position relative
  color accent
  border 2px solid accent
  background white
  border-radius med-radius
  box-shadow 0 3px 0 accent
  top 0
  &.-small
    font-size small-text
  &.-large
    font-size large-text
  &:active, &.-active
    background lightblue
    box-shadow 0 1px accent
    top 2px

button-quiet()
  button-loud()
  border 1px solid lightblue
  box-shadow none
  &:active, &.-active
    top 0
    border 1px solid accent
    box-shadow none

button-spacing()
  padding .25em .5em

