//COLORS
brand = #7C0090
accent = #006BCF
accent2 = #2E8000
offwhite = #fcfbfc
medgrey = #bbb
lightgrey = #e8e7e8
dull-brand = #75557A

//TYPOGRAPHIC
small-text = 90%
large-text = 120%

//MISC
soft-shadow = 1px 1px 12px rgba(black, .1)
micro-shadow = 0px 1px 1px rgba(black, .2)

label()
  line-height 200%
  border-bottom 1px solid medgrey
  font-size small-text
  upcase()