@import "axis/axis"
@import "base"

.hypermarks_overlay
  font-family sans-serif !important
  position fixed
  z-index 99999
  size(100%)
  top 0
  left 0
  text-align center
  background-color rgba(white, .7)
  transition background-color 1s ease

  ._flash
    color brand
    padding 20px
    margin-top 20%
    display inline-block
    text-align center
    background white
    micro-shadow()
    transition opacity 2s ease
    ._title
      font-size 48px
    ._subtitle
      font-size 24px

  &._fade
    background-color rgba(white, .1)
    ._flash
      opacity 0
