@import "axis/axis"
@import "jehanutils"
@import "inceptiongrid"
@import "base"
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

*,
*:before,
*:after {
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
}

global-reset()
normalize()
base()
// headers()
bold-italic()

.btn
  button-loud()
  button-spacing()

.btn-quiet
  button-quiet()
  button-spacing()

a 
  link()

body
  background offwhite

input
  background offwhite

h1,
h2,
h3,
h4,
h5,
h6
  font-weight inherit
  font-size inherit
  line-height inherit
  margin 0
  padding 0


.top
    position relative
    z-index 9999

//GLOBAL
.dropdown
  position relative
  span
    cursor pointer
  ul
    modal-style()
    reset-list()
    position absolute
    top 2em
    left 0
    display none
    z-index 1

    &:after
      content ''
      position absolute 
      top -5px 
      left 30px
      size(10px)
      background black
      z-index -1
      transform rotate(45deg)
      background lightgrey

    li
      cursor pointer
      display block
      padding .75em
      menu-style()
  ._header
    cursor auto
    background lightgrey

  &.-right
    ul
      left auto
      right 0
      &:after
        left auto
        right 30px
      li 
        text-align right

  &.toggle-on
    ul
      display block


//LOCAL
.topnav
  nav-height = 50px
  clearfix()
  background white
  border-bottom 1px solid brand

  ._logo
    middle-parent()
    height nav-height
    font-size 1.8em
    color brand
    col(1, 3, no-gutter)
    padding-left gutter * .5
    hide(under-tablet)
      
    img
      middle-child()
      size(28px)
      margin-right .25em
    ._text
      middle-child()

  ._controls
    col(2, 3)
    @media under-tablet
      col(1, 1)
    ._searchbox
      float left
      middle-parent()
      height nav-height
      max-width 70%
      input
        input(color = brand)
        middle-child()
        height 32px
        padding-right 2em
      i 
        position relative
        right 1.5em
        vertical-align middle
      img
        hide(over-tablet)
        middle-child()
        size(28px)
        margin-right .5em

  ._links
    float right
    ._link
      height nav-height
      middle-parent()
      padding 0 1em
      span
        cursor pointer
        middle-child()
      &.-account
        padding-right 0
        border-left 1px solid brand
        i 
          padding-left .5em


.sidebar
  col(1, 3, no-gutter)
  @media under-tablet
    col(1, 4)
  @media under-phone
    display none
  box-shadow micro-shadow
  background white

  ._menu
    margin-bottom 2rem
    menu-text()

    ul 
      reset-list()
    ._topbar
      padding .5em gutter * .5
      nav-justify()
      line-height 1
      margin-bottom -1em
      ._title
        font-size large-text
        display inline-block
        vertical-align middle
        upcase()
      ._control
        vertical-align middle
        display inline-block

    ._item
      padding 1em 0
      border-bottom 1px solid transparent
      border-top 1px solid transparent
      position relative
      cursor pointer
      padding-left gutter * .5 !important
      a
        reset-link()
      &:first-child
        border-top 1px solid medgrey
      &.-added
        animation addedFade 500ms
    
    &.-hoverable
      ._item
        &:hover
          border-color accent
          background lightblue
        &:active, .-active
          background accent
          color white

@keyframes addedFade
  0%
    background accent
    color white
  100%
    background white
    color inherit

page-topbar-height = 4rem

.page
  col(2, 3)
  @media under-tablet
    col(3, 4)
  @media under-phone
    col(1,1)
  ._topbar
    width 100%
    nav-justify()
    line-height 1.7
    margin-bottom 3em
    ._title
      vertical-align middle
      display inline-block
      font-size larger-text
      font-weight 300
    ._control
      vertical-align middle
      display inline-block


.results
  ._divider
    label()
    border-bottom 1px solid medgrey
    margin-bottom 20px

.hypermark
  card()
  padding .5em
  margin-bottom 1.5em
  ._link
    font-size large-text
    margin-bottom 5px
    display block
  ._sani-url
    font-size small-text
    margin-bottom 5px
    display block
    color accent2
  ._bottom-bar
    margin-top .5em
    ._control
      menu-text()
  
.modal-overlay
  background rgba(black, .2)
  z-index 9998
  position fixed
  height 100%
  width 100%
  top 0
  left 0
  visibility hidden
  opacity 0
  transition 200ms
  &.-shown
    visibility visible
    opacity 1

.btn-bar
  white-space: no-wrap;
  margin: 0;
  padding: 0;
  * 
    &:first-child
      border-bottom-right-radius 0
      border-top-right-radius 0
    &:last-child
      border-bottom-left-radius 0
      border-top-left-radius 0
