@import "axis/axis"
@import url(http://fonts.googleapis.com/css?family=Roboto);

global-reset()
normalize()

html
	font-family "Roboto"
	color #333

.topnav
	fixed top left right
	background #848490

.logo
	font-size 2em
	padding .5em
	img
		size(1em)
		margin-right .25em
	._text
		vertical-align top


