//- This login page is very simple and does not present any interface to the user.
//- It exists to make a post request to the browserid endpoint
//- It redirects to where the user came from when the request is done 
script(src="https://login.persona.org/include.js")
script.
  navigator.id.get(function(assertion) {
    if (!assertion) {
      return;
    }
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/_auth/browserid', true);
    xhr.setRequestHeader('Content-Type', 'application/json');


    xhr.addEventListener('loadend', function(e) {
      window.history.back();
    }, false);

    xhr.send(JSON.stringify({
      assertion: assertion
    }));
  }, {
    backgroundColor: '#75557A',
    siteName: 'Hypermarks'
  });