extends layouts/default

block content
	nav.controls
		.searchbox
			input.search
			button Clear Search
	section.main-info
		.timeline
			._divider
				|Today
			.hypermark
				img._favicon(src="#{}")
				a._link(src="#{}") #{}
