extends layouts/default


block content
	nav.controls
		.searchbox
			input.search
			button Clear Search
	section.main-info
		.timeline
			._divider
				|Today
			for result in results
				favicon = result.favicon === "false" ? "images/no_favicon.ico" : result.favicon
				.hypermark(data-date_added="#{result.date_added}")
					img._favicon(src="#{favicon}")
					a._link(href="#{result.link}") #{result.title}
