extends layouts/default

block content
	script(src="https://login.persona.org/include.js")

	form(action="/auth/browserid", method="post", style="display: none;")
		input(type="text", name="assertion")

	img(src="https://developer.mozilla.org/files/3969/plain_sign_in_blue.png", id="browserid")

	if user
		h2 Hello, #{user.email}
	else
		h2 Not logged in. :P

	script.
		window.onload = function() {
			document.getElementById("browserid").onclick = function() {
				console.log('input clicked');
				navigator.id.get(function(assertion) {
					if (assertion) {
						$("input").val(assertion);
						$("form").submit();
					} else {
						location.reload();
					}
				});
			}
		}
