extends layouts/default

block content
  h2 Register

  form(action="/_auth/register",method="POST")
    div
      label Usernamer
      input(type="text", name="username")

    div
      label Password
      input(type="password", name="password")

    div
      input(type="submit",value="Register")