doctype 5
html
	include ../includes/head
	body
		include ../includes/header
		if user
			include ../includes/sidebar
		else
			nav.sidebar#sidebar
				section._menu
		block content
		include ../includes/modals
		include ../includes/foot
